#cards{
    width: 100%; 
    height: 70%;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 50%);
grid-template-areas: 
"sup bild calc"
"sup karma calc";
}

@media only screen and (max-width: 600px){
    #cards{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    } 
}




